body {
  background-color: #CEDFE9;
}

.center {
  text-align: center;
}

#map {
  width: 100%;

  /* position off-screen so to hide without messing up page flow */
  /* display:none; causes map to load with wrong center */
  position: absolute;
  left: -10000px;
}
